[submodule "vendor/rails"]
	path = vendor/rails
	url = git://github.com/rails/rails.git
[submodule "vendor/plugins/annotate_models"]
	path = vendor/plugins/annotate_models
	url = git://github.com/collectiveidea/annotate_models.git
[submodule "vendor/plugins/awesomeness"]
	path = vendor/plugins/awesomeness
	url = git://github.com/collectiveidea/awesomeness.git
[submodule "vendor/plugins/exception_notification"]
	path = vendor/plugins/exception_notification
	url = git://github.com/collectiveidea/exception_notification.git
[submodule "vendor/plugins/awesome-backup"]
	path = vendor/plugins/awesome-backup
	url = git://github.com/collectiveidea/awesome-backup.git
[submodule "vendor/plugins/action_mailer_optional_tls"]
	path = vendor/plugins/action_mailer_optional_tls
	url = git://github.com/collectiveidea/action_mailer_optional_tls.git
[submodule "vendor/plugins/html5"]
	path = vendor/plugins/html5
	url = git://github.com/collectiveidea/html5.git
[submodule "vendor/plugins/mongomapper"]
	path = vendor/plugins/mongomapper
	url = git@github.com:jnunemaker/mongomapper.git
[submodule "vendor/plugins/graticule"]
	path = vendor/plugins/graticule
	url = git://github.com/collectiveidea/graticule.git
[submodule "vendor/plugins/acts_as_geocodable"]
	path = vendor/plugins/acts_as_geocodable
	url = git://github.com/collectiveidea/acts_as_geocodable.git
[submodule "vendor/plugins/seed-fu"]
	path = vendor/plugins/seed-fu
	url = git://github.com/mbleigh/seed-fu.git
