<div id="map-wrapper">
  <div id="map"></div>
</div>
<div id="timeline-wrapper">
  <div id="timeline"></div>
</div>
<div id="startdatepicker" class="datepicker"><a href="#"><img src="/images/calendar_icon.png"></a></div>
<div id="enddatepicker" class="datepicker"><a href="#"><img src="/images/calendar_icon.png"></a></div>