<div id="map-wrapper">
  <div id="map"></div>
</div>
<div id="timeline-wrapper">
  <div id="timeline"></div>
</div>
<div id="startdatepicker" class="datepicker"><span class="datetext">START</span></div>
<div id="enddatepicker" class="datepicker"><span class="datetext">END</span></div>