body { font-family:"Lucida Grande", Tahoma, Verdana, sans-serif; font-size: 11px; }

/* Structure */
* { margin: 0; padding: 0; }
html { margin:0; padding:0; height: 100%; }
body { margin: 0; padding: 0; height: 100%; }


/* Main Wrapper - to give baseline width and height to keep Google Maps happy */
wrapper { width: 100%; height: 100%; }

/* Search Block */
search { 
	position: relative;  
 	float: right;
	height: 38px; 
	width: 259px; 
	margin-top: 5px;
	z-index: 160;
	background: url('/images/search_bg.png') no-repeat; 
}
search button { 
	background: url('/images/buttonLocate_on.png') no-repeat; 
	border: none; 
	vertical-align: top; 
	margin-left: 11px; 
	margin-top: 7px;
	width: 24px; 
	height: 24px; 
}
search input { 
		background-color: #78cbf3; 	
    font-size: 14px; 
		line-height: 27px;
		border: none;
		margin-top: 4px;
    color: #ffffff;
		padding-top: 6px;
		text-align: center;
		width: 210px;
		height: 27px;
		background: url('/images/search_input_bg.png') no-repeat; 
}

/* Sidebar Block */
sidebar-wrapper { background: white; width: 259px; height: 100%; position: fixed; border-right: 1px solid #d4d4d4;}
sidebar-header { position: relative; display: block; background: white; height: 45px; width: 100%;  }
sidebar-header img { float: left; padding: 12px 13px 0 13px; }

aside {	
	background: white;
	color: darkgrey;
	position: fixed;
	width: 259px;
	top: 82px;	
	left: 0px;
	bottom: 40px;
}

aside h1 {
  font-size: 11px;
  height: 20px;
  line-height: 25px;
}

aside h2 {
  display: block;
  float: left;
  font-size:14px;
  height: 40px;
  width: 100%;
}

aside ol {
  list-style-type: none;
	height: 100%;

	overflow: auto;
}

aside li {
  position: relative;
  padding: 8px 18px 8px 18px;
  border-bottom: 1px solid #d4d4d4;
  cursor: pointer;
}

aside .null div       { background-position: 0 -30px; } 
aside .news   div     { background-position: 0 -85px; } 
aside .review  div    { background-position: 0 -140px; } 
aside .discussion div { background-position: 0 -195px; } 
aside .movie  div     { background-position: 0 -250px; }
aside .event  div     { background-position: 0 -305px; }

aside .time { 
	display: block;
	position: relative;
  padding: 8px 0 0 -30px;
}

aside a {
 	color: darkgrey;
	font-weight: bold;
	text-decoration: none;
}

aside a:hover {
	text-decoration: underline;
}

sidebar-footer { 
	display: block; 
	position: fixed;
	height: 40px; 
	width: 259px;
	bottom: 0px;
	background: white;
	line-height:17px; 
	font-size: 9px; 
	border-top: 1px solid #d4d4d4;

}
#copyright	{ position: fixed;
	height: 35px; 
	width: 259px;
	bottom: 0px;
	z-index: 149;
}
#copyright a { color: #3bb9e2; margin-left: 10px; text-decoration: none; }

#spacer { position: fixed; bottom: 0; left: 0; width: 260px; height:40px; border-top: 1px solid #d4d4d4; }
#spacer a#add-event {
	display: block; 
	position: fixed; 
	bottom: 12px; 
	left: 180px; 
	width: 53px; 
	height:53px; 
	background:url(images/buttonAddEvent.png); 
	z-index: 150;
} 
#spacer a#add-event span{ display:none; }

/* Map Block */
#map-wrapper { background: white; width: 100%; height: 100%; top: 0px; bottom: 40px; position: fixed; left: 260px; z-index: 100px; }
#map { width: 100%; max-height: 100%; height: 100%;}

/*
 * Map InfoWindows
 */
/*#info-window-cnt {height:443px; width:264px;}
	#info-window-cnt h2 {margin: 15px 0 146px 90px; font-size: 13px; font-family: arial; color: #fff;}
    #info-window-cnt p.time, #info-window-cnt p.address, #info-window-cnt p.link {margin: 0 0 0 16px; padding: 0 0 4px 0; font-weight: bold; color: #8D8D8D; font-size: 13px;}
    #info-window-cnt p.description {margin:4px 20px 0 16px; font-family: arial; font-size: 11px; font-weight: normal; color: #8D8D8D; }
*/

/* Timeline Block */
/* Formatting for timeline related stuffs */
#timeline-wrapper { background: white; width: 100%; height: 40px; position: fixed; left: 260px; bottom: 0px; border-top: 1px solid #d4d4d4; }
#timeline { position: absolute; height: 40px; width: 100%; bottom:0; background-color: transparent; }

#event-duration {overflow: visible !Important; margin: 10px; padding: 0 4px 0 12px;  height:20px; float: left; background: url(/images/timeline-duration-bg.gif) no-repeat top left; position: relative; color: #fff; line-height: 1.7;}
	  #round-cap {height:20px; width:8px; position: absolute; top:0; right: -8px; background: url(/images/timeline-duration-cap.gif) no-repeat top right;}
#event-instant{height:41px !Important; width:36px !Important; position: absolute; top:-8px; right:120px; background: url(/images/timeline-instant-icon.png) no-repeat top left;}
/* Add Event */
add-event-panel {
	position: fixed;
	background: white;
	width: 340px;
	height: 100%;	
	left: 260px;
	bottom: 40px;
	text-align: bottom;
	padding-left: 20px;
	border-right: 1px solid #d4d4d4;
}