body, input, select, textarea { font-family:"Lucida Grande", Tahoma, Verdana, sans-serif; font-size: 11px;}
body, p, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, fieldset, button, form, legend, input, textarea {padding: 0;  margin: 0;}

/* Structure */
* { margin: 0; padding: 0; }
html { margin:0; padding:0; height: 100%; }
body { margin: 0; padding: 0; height: 100%; }

section				{
	display:block; 
	z-index:6; 
	position:absolute; 
	left:260px; 
	right:0; 
	top:0px; 
	bottom:41px;
}

/* Main Wrapper - to give baseline width and height to keep Google Maps happy */
wrapper { width: 100%; height: 100%; }

/* Sidebar Block */
sidebar-wrapper { background: white; width: 259px; height: 100%; position: fixed; border-right: 1px solid #d4d4d4;}
sidebar-header { display:block; background: white; height: 45px; }
sidebar-header img { float: left; padding: 12px 13px 0 13px; }

sidebar-search { display: block; float: left; width: 100%; height: 35px; border-bottom: 1px solid #d4d4d4; padding: 5px 0 0 12px; }
sidebar-search button.search { background: url('/images/buttonLocate_on.png') no-repeat; border: none; vertical-align: top; width: 24px; height: 24px; }
sidebar-search input { 
		background-color: #78cbf3; 	
    border: 1px solid #3bb9e2; 
    font-size: 14px; 
    color: white;
	  padding: 3px 10px 3px 10px;
		text-align: center;
		vertical-align: top;
}

sidebar-events { display: block; float: left; width: 100%; bottom: 40px; height: 100%; overflow : auto;}

aside {
  background: #fff;
	color: darkgrey;

  display: block;
	bottom: 40px;
}

aside h1 {
  font-size: 11px;
  height: 40px;
  line-height: 40px;
}

aside h2 {
  display: block;
  float: left;
  font-size:14px;
  height: 34px;
}

aside ol {
  list-style-type: none;
}

aside li {
  position: relative;
  padding: 8px 13px 8px 23px;
  border-bottom: 1px solid #d4d4d4;
}

aside .null div       { background-position: 0 -30px; } 
aside .news   div     { background-position: 0 -85px; } 
aside .review  div    { background-position: 0 -140px; } 
aside .discussion div { background-position: 0 -195px; } 
aside .movie  div     { background-position: 0 -250px; }
aside .event  div     { background-position: 0 -305px; }

aside .time { 
	display: block;
  padding: 8px 0 8px 23px;
}

aside a {
 	color: darkgrey;
	font-weight: bold;
	text-decoration: none;
}

aside a:hover {
	text-decoration: underline;
}

sidebar-footer { 
	display:block; 
	position: fixed;
	height: 40px; 
	width: 259px;
	bottom: 0px;
	background: white;
	line-height:17px; 
	text-align: left; 
	font-size: 9px; 
	border-top: 1px solid #d4d4d4;

}
sidebar-footer .copyright	{ float:left; }
sidebar-footer a { color: #3bb9e2; margin-left: 10px; }

#spacer { position: fixed; bottom: 0; left: 0; width: 260px; height:40px; border-top: 1px solid #d4d4d4; display: none;}
#spacer a#add-event {
	display:block; 
	position:fixed; 
	bottom:12px; 
	left:180px; 
	width: 53px; 
	height:53px; 
	background:url(images/buttonAddEvent.png); 
	z-index: 150
} 
#spacer a#add-event span{ display:none; }

/* Map Block */
#map-wrapper { background: white; width: 100%; height: 100%; top: 0px; bottom: 40px; position: fixed; left: 260px; z-index: 100px; }
#map { width: 100%; max-height: 100%; height: 100%;}

/* Timeline Block */
/* Formatting for timeline related stuffs */
#timeline-wrapper { background: white; width: 100%; height: 40px; position: fixed; left: 260px; right: 40px; bottom: 0px; border-top: 1px solid #d4d4d4; }
#timeline { 
	position: absolute; 
	height: 40px; 
	width: 100%;
	bottom:0;  
}

/* Add Event */
add-event-dialogue {
	display: none;
	position: fixed;
	background: white;
	width: 340px;
	height: 100%;	
	left: 260px;
	bottom: 40px;
	text-align: bottom;
	padding-left: 20px;
	border-right: 1px solid #d4d4d4;
}