body, input, select, textarea { font-family:"Lucida Grande", Tahoma, Verdana, sans-serif; font-size:11px;}
body, p, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, fieldset, button, form, legend, input, textarea {padding: 0;  margin: 0;}

/* Structure */
html								{margin:0; padding:0;}
body								{background:#fff; overflow:hidden; color:#222;}
a										{color:#06C; text-decoration:none;}
a:hover							{text-decoration:underline;}

header							{display:block; position:absolute; left:0; right:0; top: 0; height:40px; background:#111 url(images/header.png) repeat-x;}
header h1						{width:130px; height:40px; text-indent:-9999px; overflow:hidden; background:url(images/logo.png) no-repeat; position:absolute; top:0; left:10px;}
header input				{position:absolute; left:150px; top:11px; width:100px;}
header h5						{position:absolute; left:260px; width:45px; top:0; height:40px; background:url(images/during.png) no-repeat; text-indent:-9999px; overflow:hidden;}
header button				{position:absolute; right:10px; width:68px; height:40px; text-indent:-9999px; overflow:hidden; background:url(images/button_search.png) no-repeat 50% 50%; border:none;}
#date-range					{position:absolute; top:16px; height:8px; background:url(images/meter.png) repeat-x; left:375px; right:158px; -webkit-border-radius:4px; -moz-border-radius:4px;}
#date-range a.ui-slider-handle {cursor:default; height:17px; width:17px; background:url(images/handle.png); display:block; position:absolute; margin:-4px 0 0 -4px;}
#date-range a:active,
#date-range a:focus {outline:none; border:none;}
#date-range div.ui-slider-range {height:8px; position:absolute; background:#249C12 url(images/meter.png) repeat-x;}
#label-left,
#label-right				{position:absolute; top:-7px; height:23px; line-height:21px; font-weight:bold; color:#fff; white-space:nowrap; text-shadow:#000 0 1px 1px;}
#label-left					{background:#249C12 url(images/label_left_main.png) no-repeat 100% 0; margin-right:3px;}
#label-left span		{display:block; height:23px; padding:0 12px 0 10px; background:url(images/label_left_end.png) no-repeat;}
#label-right				{background:#249C12 url(images/label_right_main.png) no-repeat; margin-left:12px;}
#label-right span		{display:block; height:23px; padding:0 10px 0 12px; background:url(images/label_right_end.png) no-repeat 100% 0;}

section							{display:block; z-index:6; position:absolute; left:260px; right:0; top:40px; bottom:26px;}
aside								{background:#f0f0f0; z-index:5; display:block; position:absolute; width:259px; border-right:1px solid #676767; left:0; top:40px; bottom:26px;}
body.hide-aside aside {left:-260px;}
body.hide-aside section {left:0;}
footer							{display:block; position:absolute; height:26px; border-top:1px solid #676767; background:#111 url(images/header.png) repeat-x; color:#999; padding:0 10px; line-height:26px; left:0; right:0; bottom:0; text-align:right;}
footer .copyright		{float:left;}
footer a						{color:#fff; margin-left:15px;}

aside h1						{font-size:11px; color:#333; background:url(images/sidebar_header.png) repeat-x; height:28px; border-bottom:1px solid #666; position:relative; padding:0 10px; line-height:28px;}
#toggle-aside				{position:absolute; z-index:10; left:259px; top:40px; width:30px; height:29px; background:url(images/collapse.png);}
body.hide-aside #toggle-aside {background-image:url(images/expand.png); left:0;}
aside ol						{position:absolute; list-style-type:none; top:29px; left:0; right:0; bottom:0; overflow:auto;}
aside li						{position:relative; padding:8px 10px 8px 43px; background:url(images/detail.png) repeat-x 0 100%; border-bottom:1px solid #999;}
aside div						{position:absolute; left:10px; top:8px; width:23px; height:25px; line-height:20px; color:#fff; text-align:center;}
aside h2						{font-size:15px; font-family:"Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif;}
aside img           {width: 160px;}
aside .address			{color:#999;}
aside .description	{color:#555;}

aside li div        { background: url(images/pointers.png) no-repeat top left; }
aside .black  div   { background-position: 0 -30px; } 
aside .news   div   { background-position: 0 -85px; } 
aside .review  div   { background-position: 0 -140px; } 
aside .orange div   { background-position: 0 -195px; } 
aside .photo  div   { background-position: 0 -250px; } 
aside .event  div   { background-position: 0 -305px; }

#map                {height:100%;}

aside .thumbs { display: none;}
#map .thumbs a { width: 16px; height: 16px; display: block; float: left;}
#map .thumbs a.up { background: url(images/thumb-up-disable.png) no-repeat top left;}
#map .thumbs a.up:hover { background: url(images/thumb-up.png) no-repeat top left;}
#map .thumbs a.down { background: url(images/thumb-down-disable.png) no-repeat top left;}
#map .thumbs a.down:hover { background: url(images/thumb-down.png) no-repeat top left;}