body, input, select, textarea { font-family: Tahoma, Verdana, sans-serif; }
body, p, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, fieldset, button, form, legend, input, textarea { padding: 0;  margin: 0; }

/* Structure */
html								{margin:0; padding:0; height: 100%;}
body								{background:#fff; overflow:hidden; color:#222; height: 100%;}
a										{color:#06C; text-decoration:none;}
a:hover							{text-decoration:underline;}

header {
  display:block;
  height: 48px;
  width: 285px;
  background: white;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

header img {
	float: left;
  padding-top: 12px;
  padding-left: 12px;
	padding-right: 12px;
}

aside {
  background:#fff;
  z-index:5;
  display:block;
  width:285px;
  border-right:1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

aside h1 {
  font-size:11px;
  height:40px;
  line-height:40px;
}

aside h1 span.tab {
  display: block;
  float: left;
  width: 94px;
  height: 40px;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

aside h1 span.selected {
  border-bottom: none;
}

aside h1 span.last {
  border-right: none;
}

aside h2 {
  display: block;
  float: left;
  font-size:15px;
  height: 34px;
}

aside h2 span.filter {
  width: 95px;
}

aside h2 span.search-items {
  width: 285px;
  padding-left: 12px;
	padding-right: 12px;
	line-height: 20px;
}

aside input { 
		background-color: #78cbf3; 	
    border: 1px solid #3bb9e2; 
    font-size: 14px; 
    color: white;
	  padding: 3px 12px 3px 12px;
		text-align: center;
		vertical-align: top;
}

aside img.search-ends { vertical-align: top; height: 20px; }

aside button.search { background: url('/images/buttonLocate_on.png') no-repeat; border: none; vertical-align: top; width: 24px; height: 24px; }

aside ol {
  list-style-type:none;
  height: 100%;
}

aside li {
  position:relative;
  padding:8px 10px 8px 43px;
  border-bottom:1px solid #999;
}

aside li div          { background: url(images/pointers.png) no-repeat top left; }
aside .null div       { background-position: 0 -30px; } 
aside .news   div     { background-position: 0 -85px; } 
aside .review  div    { background-position: 0 -140px; } 
aside .discussion div { background-position: 0 -195px; } 
aside .movie  div     { background-position: 0 -250px; }
aside .event  div     { background-position: 0 -305px; }

section				{display:block; z-index:6; position:absolute; left:286px; right:0; top:0px; bottom:26px;}

footer				{display:block; position:absolute; height:26px; border-top:1px solid #676767; background:#111 url(images/header.png) repeat-x; color:#999; padding:0 10px; line-height:26px; left:0; right:0; bottom:0; text-align:right;}
footer .copyright		{float:left;}
footer a			{color:#fff; margin-left:15px;}

#spacer     {position:fixed; bottom:0; left:0; width: 285px; height:40px; border-top: 1px solid lightgray;}
#spacer a#add-event {display:block; position:fixed; bottom:12px; left:200px; width: 53px; height:53px; background:url(images/buttonAddEvent.png); #555555; z-index: 150} 
#spacer a#add-event span{ display:none; }

#timeline   {position:absolute; bottom:0; left:320px; right: 0; height:40px;}

img.gravatar { width: 25px; height: 25px;}

dt {clear: left; font-weight: bold; margin-top: 5px;}
dt img {float: left; margin: 0 3px 3px 0;}

#map { height:98%; min-width: 480px; }
