body, input, select, textarea { font-family:"Lucida Grande", Tahoma, Verdana, sans-serif; font-size:11px;}
body, p, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, fieldset, button, form, legend, input, textarea {padding: 0;  margin: 0;}

/* Structure */
html								{margin:0; padding:0;}
body								{background:#fff; overflow:hidden; color:darkgrey;}
a										{color:#06C; text-decoration:none;}
a:hover							{text-decoration:underline;}

/* 
 * search block 
 ****************/
#search { 
	position: relative;  
 	float: right;
	height: 38px; 
	width: 259px; 
	margin-top: 5px;
	z-index: 15;
	background: url('/images/search_bg.png') no-repeat; 
}
#search button { 
	background: url('/images/buttonLocate_on.png') no-repeat; 
	border: none; 
	vertical-align: top; 
	margin-left: 11px; 
	margin-top: 7px;
	width: 24px; 
	height: 24px; 
}
#search input { 
		background-color: #78cbf3; 	
    font-size: 14px; 
		line-height: 26px;
		border: none;
		margin-top: 4px;
    color: #ffffff;
		padding-top: 6px;
		text-align: center;
		width: 210px;
		height: 27px;
		background: url('/images/search_input_bg.png') no-repeat; 
}

/* 
 * sidebar block 
 *****************/
#sidebar-header { position: relative; display: block; background: white; width: 259px; height: 45px; }
.logo { position: fixed; left: 13px; top: 12px; width: 109px; height: 25px; background: url('/images/mymapnow_logo.png') no-repeat; z-index: 6; }

/*
 * login panel formatting
 **************************/
#login { position: fixed; left: 155px; top: 11px; width: 91px; height: 25px; background: url( '/images/buttonLogin.png') no-repeat; z-index: 6; }
.logout img { position: fixed; left: 155px; top: 11px; width: 91px; height: 25px; border: 0; }
#close-login { position: fixed; left: 222px; top: 13px; width: 22px; height: 22px; background: url( '/images/loginClose.png') no-repeat; z-index: 6; }
#login-panel {
	position: fixed;
	display: none;
	overflow: auto;
	border-right: 1px solid #d4d4d4;
	top: 0;
	width:259px;
	left: 0;
	bottom: 0;
	background: #fff;
	z-index: 25;
	color: #818181;
}

.login-text-block {
	background: #42c1f3;
	color: white;
	font-size: 1.1em;
	padding: 15px;
	position: relative;
	top: 45px;
}

.login-text-block a {
	color: white;
	text-decoration: underline;
	line-height: 23px;
}

#member-login {
	font-size: 1.1em;
	font-weight: bold;
	padding: 15px;
	position: relative;
	top: 50px;
}

#member-login img {
	padding-top: 10px;
}

.login-textfield-container {
   background: url('/images/login-textfield-bg.png') no-repeat;
   width: 230px;
   height: 24px;
   padding: 3px 3px 3px 3px;
}

.login-textfield {
   background: #cfcfcf;
   border: 0px;
   color: white;
   width: 180px;
   font-size: 13px;
   margin-left: 10px;
   padding-left: 2px;
}

.login-button {
   background: url('/images/memberLogin.png');
   width: 152px;
   height: 23px;
   border: 0px;
   padding: 0px;
   padding-top: 10px;
   float: right;
}

#member-login-button {
	padding-top: 10px;
}

#member-signup {
  display: none;
  font-size: 1.1em;
	font-weight: bold;
	padding: 15px;
	position: relative;
	top: 50px;
}

.facebook-login {
  display: none;
	font-size: 1.1em;
	font-weight: bold;
	padding: 15px;
	position: relative;
	top: 0;
}

.facebook-login img {
	padding-top: 10px;
}

#facebook-logo {
	padding-top: 0;	
	padding-bottom: 10px;
}

.facebook-text-block {
	background: #feffce;
	color: #818181;
	font-size: 1em;
	border: 1px solid #d4d4d4;
	padding: 15px;
	position: relative;
}

.login-spacer {
	margin-top: 100px;
	padding: 15px 0 0 0;
	border-top: 1px solid #d4d4d4; 
}

/*
 * map render area
 *******************/
section							{display:block; z-index: 6; position:absolute; left:259px; border-right: 1px solid #d4d4d4; right:0; top:0px; bottom:40px;}
#map                {height:100%; border-left: 1px solid #d4d4d4;}

/* 
 * event list
 **************/
aside								{background:#fff; color:#aaa; z-index:5; display:block; position:absolute; width:259px; left:0; top:80px; bottom:40px;}
aside h1						{font-size:11px; color:#aaa; height:28px; border-bottom:1px solid #d4d4d4; position:relative; padding:0 1px; line-height:28px;}
aside ol						{position:absolute; list-style-type:none; top:0px; left:0; right:0; bottom:0; overflow:auto; }
aside li						{position:relative; padding:8px 10px 8px 40px; border-bottom:1px solid #d4d4d4;}
aside li.date-separator { padding-left: 10px; font-size: 14px; line-height: 28px;}
aside div						{position:absolute; left:10px; top:8px; width:23px; height:30px; line-height:20px; color:#fff; text-align:center;}
aside h2						{font-size:15px; font-family:"Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif;}
aside img           {width: 160px;}
aside .address			{color:#aaa;}
aside .description	{color:#aaa;}
aside .link a				{color:#42c1f3;}				

aside li div        { background: url('images/pointers.png') no-repeat top left; }
aside .null div   { background-position: 0 -30px; } 
aside .news   div   { background-position: 0 -85px; } 
aside .review  div   { background-position: 0 -140px; } 
aside .discussion div   { background-position: 0 -195px; } 
aside .movie  div   { background-position: 0 -250px; }
aside .event  div   { background-position: 0 -305px; }

/*
 * footer stuffs
 *****************/
footer							{display:block; position:absolute; height:39px; border-top:1px solid #d4d4d4; background:#fff; color:#999; line-height:40px; left:0; right:0; bottom:0; text-align:right; }
#copyright			{ position: fixed; width:259px; left: 0; bottom: 0; line-height: 40px; border-right: 1px solid #d4d4d4; }
#copyright a		{ color: #42c1f3; margin-left:10px; }

/*
 * date slider
 ***************/
#date-range					{ position:absolute; top:16px; height:8px; background:url('images/meter.png') repeat-x; left:315px; right:55px; -webkit-border-radius:4px; -moz-border-radius:4px; }
#date-range a.ui-slider-handle { cursor:default; height:17px; width:17px; background:url('images/handle.png'); display:block; position:absolute; margin:-4px 0 0 -4px;}
#date-range a:active,
#date-range a:focus { outline:none; border:none;}
#date-range div.ui-slider-range  { height:8px; position:absolute; background: #42c1f3 url('images/meter.png') repeat-x;}
#label-left,
#label-right				{ position: absolute; z-index: 10; height: 35px; width: 117px; font-weight: bold; color:#fff; white-space:nowrap; text-shadow:#000 0 1px 1px; bottom: 25px; }
#label-left					{ left: 270px;  background: url('images/date_left.png') no-repeat; padding-left: 7px; }
#label-right				{ right: 3px; background: url('images/date_right.png') no-repeat; padding-left: 7px; }
#label-left span,
#label-right span { float: left; width: 100px; line-height: 26px; font-size: 12px; text-align: center;}

/*
 * new item panel
 ******************/
#spacer     { position:relative; bottom:0; left:0; width: 285px; height:40px; border-top: 1px solid #d4d4d4;}
#new-item { display:block; position:fixed; bottom:12px; left:190px; width: 53px; height:53px; background:url('images/buttonAddEvent.png'); z-index: 15; } 
#close-new-item { position: fixed; left: 222px; top: 13px; width: 22px; height: 22px; background: url( '/images/loginClose.png') no-repeat; z-index: 6; }
#new-item-panel {
	position: fixed;
	display: none;
	overflow: auto;
	border-right: 1px solid #d4d4d4;
	top: 0;
	width:259px;
	left: 0;
	bottom: 0;
	background: #fff;
	z-index: 25;
	color: #818181;
}

.new-item-text-block {
	background: #42c1f3;
	color: white;
	font-size: 1.1em;
	padding: 15px;
	position: relative;
	top: 45px;
}

.new-item-text-block h2 {
	font-size: 1.2em;
}

/*
 * tab formatting
 ***********************/

/* root element for tabs  */
ul.tabs { 
	list-style:none; 
	margin:0 !important; 
	padding:0;
	width: 259px;
	height:30px;
	border-top: 1px solid #d4d4d4;	
	background: url('../images/tabs.png') no-repeat 0 0;
}

/* single tab */
ul.tabs li { 
	float:left;	 
	text-indent:0;
	padding:0;
	margin:0 !important;
	list-style-image:none !important; 
}

ul.tabs img {
	border: none;		
}

/* link inside the tab. uses a background image */
ul.tabs a { 
	background: url('../images/tabs.png') no-repeat 0 0; 	
	font-size:11px;
	display:block;
	width: 259px;
	height: 30px;  
	line-height:30px;
	width: 80px;
	text-align:center;	
	text-decoration:none;
	color:#000;
	padding:0px;
	margin:0px;	
	position:relative;
	top:1px;
}

ul.tabs a:active {
	outline:none;		
}

/* when mouse enters the tab move the background image */
ul.tabs a:hover {
	background-position: 0 -30px; 
	color:#fff;	
}

/* active tab uses a class name "current". it's highlight is also done by moving the background image. */
ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
	background-position: 0 -60px;	
	cursor:default !important; 
	color:#000 !important;
}

/* initially all panes are hidden */ 
div.panes div {
	display:none;		
	border-top:0;
	width: 259px;
	font-size:14px;
	color: darkgrey;
	background-color:#fff;
}

div.panes ul {
	padding-left: 10px;
}

div.panes a {
	color: #000;
	font-size: 1em;
}
