body, input, select, textarea { font-family:"Lucida Grande", Tahoma, Verdana, sans-serif; font-size:11px;}
body, p, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, fieldset, button, form, legend, input, textarea {padding: 0;  margin: 0;}

/* Structure */
html								{margin:0; padding:0;}
body								{background:#fff; overflow:hidden; color:#222;}
a										{color:#06C; text-decoration:none;}
a:hover							{text-decoration:underline;}

/*
 * Date Slider
 ***************/

#date-range					{ position:absolute; top:16px; height:8px; background:url(images/meter.png) repeat-x; left:375px; right:158px; -webkit-border-radius:4px; -moz-border-radius:4px; }
#date-range a.ui-slider-handle { cursor:default; height:17px; width:17px; background:url(images/handle.png); display:block; position:absolute; margin:-4px 0 0 -4px;}
#date-range a:active,
#date-range a:focus { outline:none; border:none;}
#date-range div.ui-slider-range  {height:8px; position:absolute; background:#42c1f3 url(images/meter.png) repeat-x;}
#label-left,
#label-right				{ position: absolute; z-index: 200; height: 35px; width: 117px; font-weight: bold; color:#fff; white-space:nowrap; text-shadow:#000 0 1px 1px; bottom: 43px;}


#label-left					{ left: 263px;  background: url(images/date_left.png) no-repeat; }
/*#label-left span		{display:block; height:23px; padding:0 12px 0 10px; background:url(images/label_left_end.png) no-repeat;}*/
#label-right				{ right: 0; background: url(images/date_right.png) no-repeat; }
/*#label-right span		{display:block; height:23px; padding:0 10px 0 12px; background:url(images/label_right_end.png) no-repeat 100% 0;}*/


/* Search Block */
#search { 
	position: relative;  
 	float: right;
	height: 38px; 
	width: 259px; 
	margin-top: 5px;
	z-index: 160;
	background: url('/images/search_bg.png') no-repeat; 
}
#search button { 
	background: url('/images/buttonLocate_on.png') no-repeat; 
	border: none; 
	vertical-align: top; 
	margin-left: 11px; 
	margin-top: 7px;
	width: 24px; 
	height: 24px; 
}
#search input { 
		background-color: #78cbf3; 	
    font-size: 14px; 
		line-height: 26px;
		border: none;
		margin-top: 4px;
    color: #ffffff;
		padding-top: 6px;
		text-align: center;
		width: 210px;
		height: 27px;
		background: url('/images/search_input_bg.png') no-repeat; 
}

/* Sidebar Block */
#sidebar-wrapper { background: white; width: 259px; height: 100%; position: fixed; border-right: 1px solid #d4d4d4; }
#sidebar-header { position: relative; display: block; background: white; height: 45px; width: 100%; }
#sidebar-header a { text-decoration: none; }
#sidebar-header img { border: 0;}
#sidebar-header .logo { float: left; padding: 12px 13px 0 13px; }
#sidebar-header .login { padding: 12px 12px 0 0; width: 91px; height: 25px; }


section							{display:block; z-index:6; position:absolute; left:259px; border-right: 1px solid #d4d4d4; right:0; top:0px; bottom:40px;}
aside								{background:#fff; color: #818181; z-index:5; display:block; position:absolute; width:259px; left:0; top:80px; bottom:40px;}
footer							{display:block; position:absolute; height:39px; border-top:1px solid #676767; background:#fff; color:#999; padding:0 10px; line-height:40px; left:0; right:0; bottom:0; text-align:right;}
footer .copyright		{float:left;}
footer a						{color:#fff; margin-left:15px;}

aside h1						{font-size:11px; color:darkgrey; height:28px; border-bottom:1px solid #666; position:relative; padding:0 1px; line-height:28px;}
aside ol						{position:absolute; list-style-type:none; top:0px; left:0; right:0; bottom:0; overflow:auto;}
aside li						{position:relative; padding:8px 10px 8px 43px; border-bottom:1px solid #999;}
aside div						{position:absolute; left:10px; top:8px; width:23px; height:25px; line-height:20px; color:#fff; text-align:center;}
aside h2						{font-size:15px; font-family:"Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif;}
aside img           {width: 160px;}
aside .address			{color:#999;}
aside .description	{color:#555;}

aside li div        { background: url(images/pointers.png) no-repeat top left; }
aside .null div   { background-position: 0 -30px; } 
aside .news   div   { background-position: 0 -85px; } 
aside .review  div   { background-position: 0 -140px; } 
aside .discussion div   { background-position: 0 -195px; } 
aside .movie  div   { background-position: 0 -250px; }
aside .event  div   { background-position: 0 -305px; }

img.gravatar { width: 25px; height: 25px;}

dt {clear: left; font-weight: bold; margin-top: 5px;}
dt img {float: left; margin: 0 3px 3px 0;}

#map                {height:100%;}

/*
 * Tab formatting
 ***********************/

/* root element for tabs  */
ul.tabs { 
	list-style:none; 
	margin:0 !important; 
	padding:0;
	height:30px;
	border-top: 1px solid #d4d4d4;	
	border-bottom: 1px solid #d4d4d4;	
	background: url(../images/tabs.png) no-repeat 0 0;
}

/* single tab */
ul.tabs li { 
	float:left;	 
	text-indent:0;
	padding:0;
	margin:0 !important;
	list-style-image:none !important; 
}

ul.tabs img {
	border: none;		
}

/* link inside the tab. uses a background image */
ul.tabs a { 
	background: url(../images/tabs.png) no-repeat 0 0; 	
	font-size:11px;
	display:block;
	height: 30px;  
	line-height:30px;
	width: 80px;
	text-align:center;	
	text-decoration:none;
	color:#000;
	padding:0px;
	margin:0px;	
	position:relative;
	top:1px;
}

ul.tabs a:active {
	outline:none;		
}

/* when mouse enters the tab move the background image */
ul.tabs a:hover {
	background-position: 0 -30px; 
	color:#fff;	
}

/* active tab uses a class name "current". it's highlight is also done by moving the background image. */
ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
	background-position: 0 -60px;	
	cursor:default !important; 
	color:#000 !important;
	border-right: 1px solid #d4d4d4;
}

/* initially all panes are hidden */ 
div.panes div {
	display:none;		
	border-top:0;
	font-size:14px;
	color: darkgrey;
	background-color:#fff;
}

div.panes ul {
	padding-left: 10px;
}

div.panes a {
	color: #000;
	font-size: 1em;
}
