<div class="logo"></div><div id="close-login"></div>
<div class="login-text-block">
  With an account, you can contribute to the myMapNow community by adding events and innformation and participate in relevant mapped discussions.
  <br /><br />
  <span class="uline">Register for myMapNow</span> <img id="signup-button" src="/images/signupArrow.png">
</div>  
<div class="member-login">
  If you are already have an account, login here:
  <img src="/images/login-email.png">
  <img src="/images/login-pass.png">
  <img id="member-login-button" src="/images/memberLogin.png">
</div>  
<div class="login-spacer"></div>
<div class="facebook-login">
  <img id="facebook-logo" src="/images/facebookLogo.png">
  <div class="facebook-text-block">
    Use facebook connect to view all of you and your friends' facebook events on the map!
  </div>
  <img id="facebook-login-button" src="/images/facebookLogin.png">
</div>  