<div class="logo"></div><div id="close-login"></div>
<div class="login-text-block">
  With an account, you can contribute to the myMapNow community by adding events and innformation and participate in relevant mapped discussions.
  <br /><br />
  <span class="uline">Register for myMapNow</span> <img src="/images/signupArrow.png">
</div>  
<div class="member-login">
  If you are already have an account, login here:
  <img src="/images/login-email-tmp.png">
  <img src="/images/login-pass-tmp.png">
  <img class="member-login-button" src="/images/memberLogin.png">
</div>  
<div class="login-spacer"></div>
<div class="facebook-login">
  
</div>  