<!DOCTYPE html>
<html>
<head>
  <title>New Page</title>
  <%= stylesheet_link_tag 'main' %>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <%= javascript_include_tag 'map.js' %>
</head>
<body>
  <div id="content">
    <%= yield %>
  </div>
</body>
</html>
