<!DOCTYPE html>
<html>
  <head>
    <title>MyMapNow.com</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/stylesheets/master.css">
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <%= javascript_include_tag 'jquery-1.3.2.min', 'jquery-ui-1.7.2.custom.min', 'application', 'map.js', :cache => true %>
  </head>
  <body>
    <header>
      <h1>MyMapNow</h1>
      <p><input type="text" id="q" name="q" value="Ottawa, ON"></p>
      <h5>during</h5>
      <div id="date-range">
        <div id="label-left"><span></span></div>
        <div id="label-right"><span></span></div>
      </div>
      <p><button id="search">Search</button></p>
    </header>
    <section>
      <%= yield %>
    </section>
    <div id="toggle-aside"></div>
    <aside>
      <h1>Event Details</h1>
      <ol>
        <!-- <li class="type-1" data-event-id="1">
          <div>A</div>
          <h2>Big Event Name</h2>
          <p class="address">5648 Main St.  Chicago, IL 60113</p>
          <p class="description">
            Some basic description of the 
            event, probably truncated to a
            few characters...
          </p>
        </li>
        <li class="type-4" data-event-id="2">
          <div>B</div>
          <h2>Big Event Name</h2>
          <p class="address">5648 Main St.  Chicago, IL 60113</p>
          <p class="description">
            Some basic description of the 
            event, probably truncated to a
            few characters...
          </p>
        </li>
        <li class="type-2" data-event-id="3">
          <div>C</div>
          <h2>Big Event Name</h2>
          <p class="address">5648 Main St.  Chicago, IL 60113</p>
          <p class="description">
            Some basic description of the 
            event, probably truncated to a
            few characters...
          </p>
        </li>
        <li class="type-3" data-event-id="4">
          <div>D</div>
          <h2>Big Event Name</h2>
          <p class="address">5648 Main St.  Chicago, IL 60113</p>
          <p class="description">
            Some basic description of the 
            event, probably truncated to a
            few characters...
          </p>
        </li>
        <li class="type-1" data-event-id="5">
          <div>E</div>
          <h2>Big Event Name</h2>
          <p class="address">5648 Main St.  Chicago, IL 60113</p>
          <p class="description">
            Some basic description of the 
            event, probably truncated to a
            few characters...
          </p>
        </li>
        <li class="type-5" data-event-id="6">
          <div>F</div>
          <h2>Big Event Name</h2>
          <p class="address">5648 Main St.  Chicago, IL 60113</p>
          <p class="description">
            Some basic description of the 
            event, probably truncated to a
            few characters...
          </p>
        </li>
        <li class="type-3" data-event-id="7">
          <div>G</div>
          <h2>Big Event Name</h2>
          <p class="address">5648 Main St.  Chicago, IL 60113</p>
          <p class="description">
            Some basic description of the 
            event, probably truncated to a
            few characters...
          </p>
        </li>
        <li class="type-1" data-event-id="8">
          <div>H</div>
          <h2>Big Event Name</h2>
          <p class="address">5648 Main St.  Chicago, IL 60113</p>
          <p class="description">
            Some basic description of the 
            event, probably truncated to a
            few characters...
          </p>
        </li> -->
      </ol>
    </aside>
    <footer>
      <p class="copyright">Copyright © 2009 MyMapNow - All Rights Reserved</p>
      <p class="links"><a href="#">About MyMapNow</a>    <a href="#">Privacy Policy</a>   <a href="#">Terms and Conditions</a></p>
    </footer>
  </body>
</html>